sudo: false
language: python

stages:
  - test
  - name: conda_package
    if: tag =~ ^v(\d+|\.)+[^a-z]\d+$
  - name: pypi_package
    if: tag =~ ^v(\d+|\.)+[^a-z]\d+$

jobs:
  include:
  - &default
    stage: test
    python: 3.6
    # TODO
    install: true
    script: true

  - <<: *default
    stage: pypi_package
    install: true
    script: true
    deploy:
      provider: pypi
      distributions: "sdist bdist_wheel"
      on:
        tags: true
      user: $PPU
      password: $PPP

  - stage: conda_package
    install:
      - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      - bash miniconda.sh -b -p $HOME/miniconda
      - export PATH="$HOME/miniconda/bin:$PATH"
      - conda config --set always_yes yes --set changeps1 no
      - conda update conda
      - conda install anaconda-client conda-build
    script:
      - conda build conda.recipe/
      - anaconda --token $CONDA_UPLOAD_TOKEN upload --user pyviz --label dev --label main `conda build --output conda.recipe`

